.crudpopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;
    min-width: 250px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    border: 1.5px solid black;
    z-index: 1;
    background-color: white;
    padding: 2%;
}

.crud-row {
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    width: 100%;
}

.crudpopup-textarea {
    width: 100%;
}