* {
  font: 16px sans-serif;
}

body {
  width: 85%;
  min-width: 500px;
  max-width: 900px;
}

.mono {
  font: 16px monospace;
}

#App {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 25%;
}

#App>* {
  margin-bottom: 2%;
}

div.titlebar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

span.title {
  font: 30px monospace;
  margin-right: 3%;
}

table {
  border-collapse: collapse;
}

td.data {
  border-bottom: 1px solid gray;
}

tr:hover {
  background-color: linen;
}

tr.titlerow td {
  font-weight: 700;
}

td {
  padding: 5px;
}

td:nth-child(1) {
  width: 5%;
  min-width: 5ch;
}

td:nth-child(2) {
  width: 10%;
  min-width: 10ch;
}

td:nth-child(3) {
  width: 60%;
  max-width: 30ch;
}

td:nth-child(4) {
  width: 15%;
  min-width: 8ch;
}

td:nth-child(4) {
  padding-left: 2ch;
}

pre.note {
  margin: 1%;
  word-wrap: break-word;
  white-space: break-spaces;
}

input[type=button] {
  background-color: #fff;
  outline: 1px solid black;
  border: 0
}

input[type=button].control {
  padding: 3px;
}

input[type=button]:hover {
  background-color: cornflowerblue;
}